imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }
parameters:
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension
  tasks.phpcs.ignore_patterns:
    - vendor/
    - node_modules/
    - atomium/includes/classes/htmltag
  extra_tasks:
    phpcsfixer2: ~
    phpunit:
      always_execute: false
    securitychecker:
      lockfile: ./composer.lock
      format: ~
      end_point: ~
      timeout: ~
      run_always: false
